<?xml version='1.0' encoding='utf-8'?>
<plugin id="pluginUtils" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>pluginUtils</name>
    <js-module name="pluginUtils" src="www/pluginUtils.js">
        <clobbers target="cordova.plugins.pluginUtils" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="pluginUtils">
                <param name="android-package" value="com.cordova.plugin.utils.pluginUtils" onload="true" />
            </feature>
        </config-file>

        <source-file src="src/android/pluginUtils.java" target-dir="src/com/cordova/plugin/utils" />
    </platform>
</plugin>
